[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
twine = "*"
wheel = "*"
pytest = "*"
tox = "*"
sphinx = "*"
numpydoc = "*"
pytest-cov = "*"
glo = {editable = true, path = "."}
pylint = "*"

[packages]
pint = "*"
numpy = "*"

[requires]
python_version = "3.8"
